*{
    margin: auto;
    padding: 0 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
#head{
    overflow: auto;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #DFDFDF;
    background-color: #EEEEEE;
}
#head ul li{
    float: left;
    font-size: 12px;
}
#head ul li a {
    height: 100%;
    float: left;
    font-size: 12px;
    color: #686868;
    line-height: 30px;
}
#head ul li a:hover{
    color: #FF8106;
}

.head-1{
    margin-left: 200px;
}
.head-2{
    margin-left: 700px;
}
#heads{
    box-sizing: border-box;
    background: white;
    display: none;
    position: absolute;
    width: 450px;
    height: 162px;
    border: 1px solid #ccc;
    margin-top: 30px;
    margin-left: 265px;
}
.head-first{
    width:100px ;
    height:100% ;
    float: left;
}
.one{
    width: 86px;
    height: 116px;
    border-right: 1px dashed #ccc;
    margin-left: 10px;
    margin-top: 15px;
}
.one p{
    width:100%;
    height: 23px;
    font-size: 12px;
    text-align: center;
}
.head-second{
    width:87px ;
    height:100% ;
    float: left;
}
.two{
    width: 86px;
    height: 116px;
    border-right: 1px dashed #ccc;
    margin-top: 15px;
}
.two p{
    width:76px;
    height: 23px;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
}
.head-third{
    width:260px ;
    height:100% ;
    float: left;
}
.three{
    width: 240px;
    height: 116px;
    margin-top: 15px;
}
.three p{
    width:120px;
    height: 23px;
    font-size: 12px;
    text-align: left;
    float: left;
}
#heads p a{
    color: #666;
}
#heads span{
    font-size: 14px;
    font-weight: bold;
    color: #FE6E1F;
    margin-top: 5px;
    margin-left: 15px;
}
#heads p a:hover{
    color: #FF8106;
}
#header{
    overflow: auto;
    width: 100%;
    height:84px ;
}
#header .header-1 {
    margin-top: 30px;
    margin-left: 200px;
    background: url("../images/gkxx-images/word_bg.gif") no-repeat -224px -586px ;
    width: 258px;
    height: 23px;
    float: left;
}
#ipt {
    width: 194px;
    height: 25px;
    margin-top: 15px;
    margin-left: 358px;
    font-size: 14px;
    color: #ABA9A9;
    border:1px solid #bcbcbc ;
}
#ul1{
    width: 128px;
    height:25px;
    margin-top: -27px;
    margin-left:1012px ;
}
.ul1-1{
    width: 50%;
    height: 100%;
    border-top:1px solid #bcbcbc ;
    border-bottom:1px solid #bcbcbc;
    color: #bcbcbc;
    background: url("../images/gkxx-images/word_bg.gif") no-repeat 0px -470px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    float: left;
}
#head-denglu{
    box-sizing: border-box;
    background: white;
    display: none;
    position: absolute;
    margin-left:1011px ;
    margin-top: 2px;
    width: 64px;
    height: 104px;
    font-size: 12px;
    border-left: 1px solid #C1C1C1;
    border-right: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
}
#head-denglu li {
    width: 62px;
    height: 25px;
}
#head-denglu li a{
    width: 100%;
    height:100%;
    color: #666;
    background-color: #fff;
    text-align: center;
    line-height: 26px;
    float: left;
}
.ul1-2{
    width: 50%;
    height: 100%;
    float: left;
}
.ul1-2 a{
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    line-height: 25px;
    text-align: center;
    float: left;
    border:1px solid #F76920 ;
    background-color:#F76920;
}
#ul2{
    width: 350px;
    height: 30px;
    margin-top: -5px;
    margin-left: 810px;
    float: left;
}
#ul2 li{
    height:20px;
    float: left;
}
#ul2-1 {
    width: 70px;
    font-size: 12px;
    color: #bcbcbc;
    margin-top: 9px;
    margin-left: 5px;
}
.ul2-1-1{
    background: url("../images/gkxx-images/icon_bg.gif") no-repeat 0px -26px;
}
.ul2-2{
    width: 30px;
    height:20px;
    margin-left: 5px;
    margin-top: 7px;
}
.ul2-2 a{
    line-height: 20px;
    font-size: 12px;
    color: #bcbcbc;
    text-align: center;
    float: left;
}
.ul2-3{
    font-size: 12px;
    color: #bcbcbc;
    margin-top: 7px;
}
#ul2 li a:hover{
    color:#FF8106 ;
}
#nav{
    width: 100%;
    height: 45px;
    border-top:1px solid #FF5C03 ;
    border-bottom:1px solid #FF5C03;
    background:url("../images/gkxx-images/nav_bg.gif");
}
.mate-1{
    width: 141px;
    height: 45px;
    margin-left: 200px;
    background: url("../images/gkxx-images/nav.jpg") no-repeat;
    float: left;
}
.mate-1:hover{
    cursor: pointer;
    background: url("../images/gkxx-images/nav.jpg") no-repeat 0px -47px;
}
.mate-2{
    width: 107px;
    height: 45px;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -141px 0px;
    float: left;
}
.mate-2:hover{
    cursor: pointer;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -141px -47px;
}
.mate-3{
    width: 107px;
    height: 45px;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -248px 0px;
    float: left;
}
.mate-3:hover{
    cursor: pointer;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -248px -47px;
}
.mate-4{
    width: 123px;
    height: 45px;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -355px 0px;
    float: left;
}
.mate-4:hover{
    cursor: pointer;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -355px -47px;
}
.mate-5{
    width: 106px;
    height: 45px;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -478px 0px;
    float: left;
}
.mate-5:hover{
    cursor: pointer;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -478px -47px;
}
.mate-6{
    width: 140px;
    height: 45px;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -584px -47px;
    float: left;
}
.mate-6:hover{
    cursor: pointer;
}
.mate-7{
    width: 106px;
    height: 45px;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -724px 0px;
    float: left;
}
.mate-7:hover{
    cursor: pointer;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -724px -47px;
}
.mate-8{
    width: 146px;
    height: 45px;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -830px 0px;
    float: left;
}
.mate-8:hover{
    cursor: pointer;
    background: url("../images/gkxx-images/nav.jpg") no-repeat -830px -47px;
}
#nav-1{
    box-sizing: border-box;
    background: white;
    display: none;
    position: absolute;
    margin-left:340px ;
    margin-top: 45px;
    width: 107px;
    height: 135px;
    font-size: 12px;
    border: 1px solid #FF5C03;
}
#nav-1 li{
    width: 105px;
    height: 26px;
}
#nav-1 li a{
    width: 100%;
    height:100%;
    color: #666;
    background-color: #fff;
    text-align: center;
    line-height: 27px;
    float: left;
}
#nav-1 li a:hover{
    color: #2E84CA;
}
#nav-2{
    box-sizing: border-box;
    background: white;
    display: none;
    position: absolute;
    margin-left:447px ;
    margin-top: 45px;
    width: 107px;
    height: 135px;
    font-size: 12px;
    border: 1px solid #FF5C03;
}
#nav-2 li{
    width: 105px;
    height: 26px;
}
#nav-2 li a{
    width: 100%;
    height:100%;
    color: #666;
    background-color: #fff;
    text-align: center;
    line-height: 27px;
    float: left;
}
#nav-2 li a:hover{
    color: #2E84CA;
}
#nav-3{
    box-sizing: border-box;
    background: white;
    display: none;
    position: absolute;
    margin-left:554px ;
    margin-top: 45px;
    width: 123px;
    height: 135px;
    font-size: 12px;
    border: 1px solid #FF5C03;
}
#nav-3 li{
    width: 121px;
    height: 26px;
}
#nav-3 li a{
    width: 100%;
    height:100%;
    color: #666;
    background-color: #fff;
    text-align: center;
    line-height: 27px;
    float: left;
}
#nav-3 li a:hover{
    color: #2E84CA;
}
#nav-4{
    box-sizing: border-box;
    background: white;
    display: none;
    position: absolute;
    margin-left:677px ;
    margin-top: 45px;
    width: 142px;
    height: 60px;
    font-size: 12px;
    border: 1px solid #FF5C03;
}
#nav-4 li{
    width: 140px;
    height: 29px;
}
#nav-4 li a{
    width: 100%;
    height:100%;
    color: #666;
    background-color: #fff;
    text-align: center;
    line-height: 27px;
    float: left;
}
#nav-4 li a:hover{
    color: #2E84CA;
}
.ul{
    display: none;
}
h3{
    margin: 0;
    font-size: 14px;
    color: #666;
    font-weight: 100;
}
.h3-1{
    border-top: 1px solid #FE6E1F;
    border-left: 1px solid #FE6E1F;
    border-right: 1px solid #FE6E1F;
}
.h3-2{
    border-bottom: 1px solid #FE6E1F;
    border-left: 1px solid #FE6E1F;
    border-right: 1px solid #FE6E1F;
}
.a1{
    margin: 0 0;
    width: 148px;
    height: 25px;
    color: #666;
    text-align: left;
    line-height: 25px;
    font-size: 14px;
    padding-left: 20px;
    border-left: 1px solid #FE6E1F;
    border-right: 1px solid #FE6E1F;
}
.a1:hover{
    cursor: pointer;
    color: #2E84CA;
}
.i0{
    width:7px ;
    height: 7px;
    float: left;
    margin-left: 130px;
    margin-top: -15px;
    background: url("../images/gkxx-images/sider-icon.png") no-repeat;
}
.div1{
    width: 170px;
    text-indent: 20px;
}
#nav-5{
    margin-top: 45px;
    margin-left: 784px;
    box-sizing: border-box;
    background: white;
    display: none;
    position: absolute;
}
.li{
    font-size: 14px;
    color: #666;
    padding-left: 10px;
    border-left: 1px solid #FE6E1F;
    border-right: 1px solid #FE6E1F;
}
.endli{
    font-size: 14px;
    color: #666;
    padding-left: 10px;
    border-left: 1px solid #FE6E1F;
    border-right: 1px solid #FE6E1F;
    border-bottom: 1px solid #FE6E1F;
}
.li:hover{
    cursor: pointer;
    color: #2E84CA;
}
.endli:hover{
    cursor: pointer;
    color: #2E84CA;
}
#new{
    width: 100%;
    height: 854px;
}
#title{
    width: 500px;
    height: 55px;
    margin-left: 200px;
    line-height: 55px;
    color:#999 ;
    font-size: 12px;
}
#title a{
    font-size: 12px;
    color: #666;
}
#title a:hover{
    color: #2E84CA;
}
.new-1 {
    width: 720px;
    height: 36px;
    margin-left: 200px;
}
.new-1 p{
    height: 16px;
    font-size: 16px;
    border-left:3px solid #FE6102 ;
}
.mew-2{
    width: 734px;
    height: 763px;
    border-top: 1px solid #D0D0D0;
    margin-left: 200px;
}
.mew-2-1{
    width: 732px;
    height: 28px;
    border: 1px solid #D7D7D7;
    margin-top: 15px;
    background-color: #F7F7F7;
}
.ipt{
    background: url("../images/gkxx-images/z_p_a_a_icon.gif") no-repeat;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}
.about{
    margin-left: 10px;
    margin-top: 5px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    float: left;
}
.new-2-2{
    overflow: auto;
    width: 732px;
    height: 313px;
    border-left:1px solid #D7D7D7 ;
    border-right:1px solid #D7D7D7 ;
    border-bottom: 1px solid #D7D7D7;
}
.new-3-2{
    width: 688px;
    height: 20px;
}
.new-3{
    width: 708px;
    height:296px;
    margin-top:8px ;
    margin-left: 12px;
    font-size: 14px;
}
.new-3 li{
    margin-top: 5px;
    margin-left: 20px;
    list-style: square;
!important;
}
.new-3-1 {
    color: #666;
}
.new-3 a{
    font-size: 14px;
    color: #666;
}
.new-3 a:hover{
    font-size: 14px;
    color: #E24800;
}
.new-3 p{
    font-size: 14px;
    color: #666;
    float: right;
}
.new-3-3{
    margin-right: 20px;
}
#new-4{
    width: 240px;
    height: 30px;
    margin-left: 470px;
    margin-top:10px;
    float: left;
}
.new-4-1{
    width: 48px;
    height: 100%;
    float: left;
}
.new-4-1 a{
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #666;
    text-align: center;
    float: left;
}
#new-5{
    width: 240px;
    height: 476px;
    margin-left: 950px;
    margin-top: -800px;
    float: left;
}
.new-5-1{
    width: 218px;
    height:38px;
    color: #FF8100;
    font-size: 14px;
    line-height: 38px;
    background-color: #F9F9F9;
    padding-left: 20px;
    border-left:1px solid #E7E7E7 ;
    border-right:1px solid #E7E7E7  ;
    border-top:1px solid #E7E7E7  ;
}
.new-5-2{
    width: 208px;
    height: 168px;
    padding: 0px 15px;
    border: 1px solid #E7E7E7;
}
.new-5-2 p{
    width: 208px;
    height: 20px;
    padding: 9px 0px;
    font-size: 12px;
    line-height: 20px;
}
.new-5-3{
    width: 87px;
    height: 16px;
    float: left;
    color: #999;
    padding: 0px 0px 10px 17px;
    font-size: 12px;
    line-height: 16px;
}
#NEW-5-1{
    background: url("../images/gkxx-images/icon2.jpg") no-repeat left 2px;
}
#NEW-5-2{
    background: url("../images/gkxx-images/icon3.jpg") no-repeat left 2px;
}
#NEW-5-3{
    background: url("../images/gkxx-images/icon4.jpg") no-repeat left 2px;
}
#NEW-5-4{
    background: url("../images/gkxx-images/icon5.jpg") no-repeat left 2px;
}
.left{
    width: 100px;
    height: 40px;
    float: left;
}
.right{
    width: 100px;
    height: 40px;
    margin-left: 8px;
    float: left;
}
.end{
    width: 100%;
    height: 20px;
    color: #666;
    font-size: 12px;
    margin-top: 10px;
    float: left;
}
.end span{
    color: #F4694C;
!important;
}
.end:hover{
    color: #2E84CA;
}
#news-5-3{
    width:218px ;
    height: 94px;
    margin-top: 10px;
    padding: 10px 10px;
    border: 1px solid #E7E7E7;
}
#news-5-3 p{
    width: 120px;
    height: 24px;
    line-height: 24px;
    padding: 5px 5px;
    float: right;
    font-size: 12px;
    color: #666;
}
#news-5-3 p span{
    color: #FF8100;
}
#news-5-3 .first{
    margin-top: -94px;
}
#news-5-3 .first1{
    padding-left: 5px;
}
#news-5-3 .second{
    margin-top: -65px;
    margin-right: -5px;
    float: right;
}
#news-5-3 .third{
    margin-top: -36px;
    margin-right: -5px;
    float: right;
}
.new-5-4{
    width: 198px;
    height: 109px;
    padding: 10px 20px;
    border: 1px solid #DFDFDF;
    margin-top: 10px;
}
.img0{
    width: 200px;
    height: 56px;
    float: left;
}
.new-5-4 p{
    width: 198px;
    height: 53px;
    border-top: 1px dashed #ccc;
    line-height: 25px;
    float: left;
}
.new-5-4 span{
    font-size: 12px;
    color: #999;
    float: left;
}
.new-5-4 span i{
    color: #FF8100;
    font-weight: bold;
}

#footer{
    width: 100%;
    height: 264px;
    border-bottom: 1px solid #DFDFDF;
    background-color: #F5F5F5;
}
.footer-left{
    width: 352px;
    height: 162px;
    margin:0;
}
.p1{
    width: 100px;
    height: 100px;
    font-size: 14px;
    margin-top:40px;
    margin-left: 40px;
    float: left;
}
.p1 span{
    font-weight: bold;
    color: #333;
}
.p1 a{
    font-size: 12px;
    color: #999;
    float: left;
}
.p1 a:hover{
    text-decoration: underline;
}
.p2{
    width: 100px;
    height: 100px;
    font-size: 14px;
    margin-top:40px;
    margin-left: 30px;
    float: left;
}
.p2 span{
    font-weight: bold;
    color: #333;
}
.p2 a{
    font-size: 12px;
    color: #999;
    float: left;
}
.p2 a:hover{
    text-decoration:underline ;
}
.footer-middle{
    width: 220px;
    height: 80px;
    margin-left:500px;
    margin-top: -120px;
    float: left;
}
.footer-middle a{
    width: 220px;
    height:80px;
    background: url("../images/gkxx-images/logo.png") no-repeat;
    float: left;
}
.footer-right{
    width: 417px;
    height: 206px;
    margin-top: -162px;
    float: right;
}
.right-1{
    width: 139px;
    height: 100%;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align:center;
    line-height: 100px;
}
.right-1-1{
    color: #333;
}
.right-1-1:hover{
    color: #2E84CA;
}
.right-1 span{
    width: 88px;
    height: 88px;
    margin-left:28px;
    margin-top: -30px;
    float: left;
}
.right-1-2{
    background: url("../images/gkxx-images/qrcode.png") no-repeat 0px -88px;
}
.right-1-3{
    background: url("../images/gkxx-images/qrcode.png") no-repeat 0px 0px;
}
.right-1-4{
    background: url("../images/gkxx-images/qrcode.png") no-repeat -88px 0px;
}
.footer-end{
    width: 100px;
    height: 53px;
    color: #acacac;
    font-size: 12px;
    padding: 0px 30px;
    margin: 20px auto;
}
.end-1{
    width: 540px;
    height:24px;
    margin-left: -585px;
}
.end-1 a{
    color: #333;
}
.end-2{
    width: 540px;
    height:24px;
    margin-left: -585px;
}
.end-3{
    width: 280px;
    height:24px;
    margin-top: -25px;
    margin-left: 400px;
    float: left;
}
.end-3-1{
    width: 25px;
    height: 33px;
    background: url("../images/gkxx-images/footer.png") no-repeat -28px -50px;
    float: left;
}
.end-3-2{
    width: 25px;
    height: 33px;
    background: url("../images/gkxx-images/footer.png") no-repeat 0px -50px;
    float: left;
}
.end-3-3{
    width: 195px;
    height: 18px;
    margin-top: 10px;
    margin-left: 10px;
    color: #333;
    float: left;
}
.end-3-3:hover{
    color: #FF6600;
    text-decoration: underline;
}
